html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  font-family: 'Unica One', cursive;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.checkbox {
  max-width: 50%;
  color: #fff;
  margin: auto;
}

label {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

input[type="checkbox"] {
  opacity: 0;
}

span {
  display: block;
}

/*.check-square {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    font-size: 1.8em;
    border: 6px solid #fff;
    transition: all 0.4s ease-in-out;
    margin: auto;
    color: #fff;
    transform: scale(1);
    position: relative;
}

.check-square:after {
    content: "✔";
    display: none;
    transform: translate(15%, -15%);
    position: absolute;
    display: none;
}

input[type="checkbox"]:checked~.check-square {
    background-image: linear-gradient(to right, #ec008c, #fc6767);
    animation-name: misty;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

input[type="checkbox"]:checked~.check-square:after {
    display: block;
}

@keyframes misty {
    0% {
        border: 6px solid cornflowerblue;
        box-shadow: 0 0 4px pink;
    }
    50% {
        border: 6px double white;
        box-shadow: 0 0 4px blue;
        font-size: 2em;
        transform: scale(1.5);
    }
    100% {
        border: 6px double #fff;
        box-shadow: 0 0 4px rgb(190, 40, 110);
        transform: scale(1);
    }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
